[submodule "bst"]
	path = bst
	url = https://github.com/0x3alex/bst
	branch = main
[submodule "stack"]
	path = stack
	url = https://github.com/0x3alex/stack
	branch = main
[submodule "queue"]
	path = queue
	url = https://github.com/0x3alex/queue
	branch = main
[submodule "list"]
	path = list
	url = https://github.com/0x3alex/list
	branch = main
